.header
    .logo
    ul(class="social")
        li(class="vk")
            a(href="https://vk.com/psheeeeeeeeee")
        li(class="tw")
        li(class="fb")
        li(class="gh")
            a(href="https://github.com/RedAlf")
.header-border