.login-div {
    width: 590px;
    height: 485px;
    background: #eff3f7;
    margin-bottom: 275px;
    margin-top: 278px;
}

.login-header {
    height: 91px;
    background: #48cbe8;
    border-bottom: 15px solid #67dffa;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}