doctype html
html
    include ./includes/Pug_Head.pug
    body
        include ./includes/Pug_Header
        div(class="main-flexbox")
            div(class="main-content clearfix")
                include ./includes/Pug_LeftMenu
                div(class="main-content_block main-content_main-info")
                    h1(class="main-content_block_head") Основная информация
                    div(class="main-content_main-info_avatar")
                    ul(class="main-content_main-info_info")
                        li #[b Меня зовут:] Иванов Андрей Степанович
                        li #[b Мой возраст:] 25 лет
                        li #[b Мой город:] Санкт-Петербург, Россия
                        li #[b Моя специялизациия:] FRONTEND разработчик
                        li #[b Ключевые навыки:]
                            ul(class="main-content_mmain-info_info_skills")
                                li(class="main-content_main-info_info_skills_skill") html
                                li(class="main-content_main-info_info_skills_skill") css
                                li(class="main-content_main-info_info_skills_skill") javascript
                                li(class="main-content_main-info_info_skills_skill") gulp
                                li(class="main-content_main-info_info_skills_skill") git
                div(class="main-content_block main-content_experience")
                    h1(class="main-content_block_head") Опыт работы 
                    ul(class="main-content_experience_workplaces")
                        li(class="main-content_experience_workplaces_workplace-element")
                            div(class="main-content_experience_workplaces_workplace-element_img")
                            span(class="main-content_experience_workplaces_workplace-element_workplace") "ИП Боровицкий" - Продавец дисков
                            span(class="main-content_experience_workplaces_workplace-element_time") Сентябрь 2005 - Август 2008
                        li(class="main-content_experience_workplaces_workplace-element")
                            div(class="main-content_experience_workplaces_workplace-element_img")
                            span(class="main-content_experience_workplaces_workplace-element_workplace") "ООО Системы безопасности" - Системный администратор
                            span(class="main-content_experience_workplaces_workplace-element_time") Июнь 2008 - Июль 2010
                div(class="main-content_block main-content_education")
                    h1(class="main-content_block_head") Образование
                    ul(class="main-content_education_places")
                        li(class="main-content_education_places_element")
                            .main-content_education_places_element_university-img
                            span(class="main-content_education_places_element_place")
                            span(class="main-content_education_places_element_time")
                        li(class="main-content_education_places_element")
                            .main-content_education_places_element_coourses-img
                            span(class="main-content_education_places_element_place")
                            span(class="main-content_education_places_element_time")
        include ./includes/Pug_Footer.pug