- var skills = ['html', 'css', 'javascript', 'gulp', 'git']
- var firstWorkplace = '"ИП Боровицкий" - Продавец дисков'
- var firstWorktime = 'Сентябрь 2005 - Август 2008'
- var secondWorkplace = '"ООО Системы безопасности" - Системный администратор'
- var secondWorktime = 'Июнь 2008 - Июль 2010'
- var job_1 = {
        workplace: firstWorkplace
        worktime: firstWorktime
    }
- var job_2 = {
        workplace: secondWorkplace
        worktime: secondWorktime
    }
- var workplaces [job_1, job_2]

doctype html
html
    include ./includes/Pug_Head.pug
    body
        include ./includes/Pug_Header
        div(class="main-flexbox")
            div(class="main-content clearfix")
                include ./includes/Pug_LeftMenu
                div(class="main-content_block main-content_main-info")
                    h1(class="main-content_block_head") Основная информация
                    div(class="main-content_main-info_avatar")
                    ul(class="main-content_main-info_info")
                        li #[b Меня зовут:] Иванов Андрей Степанович
                        li #[b Мой возраст:] 25 лет
                        li #[b Мой город:] Санкт-Петербург, Россия
                        li #[b Моя специализация:] FRONTEND разработчик
                        li #[b Ключевые навыки:]
                            ul(class="main-content_main-info_info_skills")
                                each skill in skills
                                    li(class="main-content_main-info_info_skills_skill")= skill
                div(class="main-content_block main-content_experience")
                    h1(class="main-content_block_head") Опыт работы 
                    ul(class="main-content_experience_workplaces")
                        each obj in workplaces
                            li(class="main-content_experience_workplaces_workplace-element")
                                div(class="main-content_experience_workplaces_workplace-element_img")
                                span(class="main-content_experience_workplaces_workplace-element_workplace")= obj.workplace
                                span(class="main-content_experience_workplaces_workplace-element_time")= obj.worktime
                div(class="main-content_block main-content_education")
                    h1(class="main-content_block_head") Образование
                    ul(class="main-content_education_places")
                        li(class="main-content_education_places_element")
                            .main-content_education_places_element_university-img
                            span(class="main-content_education_places_element_place") Незаконченное высшее. СПБГУ ИТМО
                            span(class="main-content_education_places_element_time") Октябрь 2012 - по настоящее время
                        li(class="main-content_education_places_element")
                            .main-content_education_places_element_courses-img
                            span(class="main-content_education_places_element_place") Курсы Loftschool.ru
                            span(class="main-content_education_places_element_time") Ноябрь 2014 - по настоящее время
        include ./includes/Pug_Footer.pug