doctype html
html
    include ./includes/Pug_Head
    body
        .main-flexbox
            .login-div
                .login-header Авторизуйтесь
        .footer-border
        .footer
            span © 2015, Это мой сайт, пожалуйста, не копируйте и не воруйте его